.project {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 110px 70px;
  box-sizing: border-box;
}

.project__title {
  width: 100%;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 27px;
  border-bottom: 1px solid rgb(0, 0, 0);
  margin: 0;
  padding-bottom: 23px;
}

.project__about {
  display: flex;
  gap: 40px;
  padding: 70px 0 110px 0;
  margin: 0;
  list-style-type: none;
}

.project__about-text {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  margin: 0;
}

.project__about-title {
  padding-bottom: 25px;
  margin: 0;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
}

.project__duration {
  display: flex;
  width: 100%;
}

.project__duration-area {
  width: 100%;
  text-align: center;
}

.project__duration-area:nth-child(1) {
  max-width: 228px;
}

.project__duration-time {
  padding: 10px 0;
}

.color_primary {
  background-color: #2BE080;
  max-width: 228px;
}

.color_secondary {
  background-color: #F2F2F2;
}

.project__duration-name {
  padding-top: 14px;
  margin: 0;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #A0A0A0;
}

@media screen and (max-width: 768px) {
  .project {
    padding: 90px 50px;
  }

  .project__about {
    gap: 30px;
  }

  .project__about-text {
    font-size: 12px;
  }
}

@media screen and (max-width: 375px) {
  .project {
    padding: 70px 18px;
  }
  .project__about {
    flex-direction: column;
    gap: 56px;
    padding: 60px 0;
  }
  .project__about-title {
    padding-bottom: 16px;
    font-size: 18px;
  }

  .project__about-text {
    font-size: 11px;
}

.project__duration-name {
  font-size: 11px;
}
}